<%- include('../partials/header.ejs') %>
    <%- include('../partials/navigation.ejs') %>
        <h1 class="text-center my-5">Login Your Account</h1>

        <div id="login-container">
            <div id="left-column"></div>
            <div id="login-form">
                <form method="post" action="/">
                    <input type="text" name="username" placeholder="enter mobile or email" value="" class="form-control my-3" />
                    <p class="error show">Error message here</p>
                    <input type="password" name="password" placeholder="enter password" class="form-control my-3" />
                    <input type="submit" value="Login" class="btn btn-outline-primary" />
                </form>
            </div>
        </div>


        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        </body>

        </html>